.cards-wrapper {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if desired */
    height: 100vh; /* Optional: full height of the viewport */
}

.game-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center cards within this container */
    gap: 20px;
    margin-top: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Slight upward movement on load */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.game-card {
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
    width: 200px; 
    text-align: center; 
    transition: transform 0.3s, box-shadow 0.3s, backdrop-filter 0.3s; /* Smooth transition */
    position: relative; 
    z-index: 10; 
    opacity: 0; 
    animation: fadeIn 0.5s forwards; 
}

.game-card img {
    width: 100%; 
    height: auto; 
}

.game-card:hover {
    backdrop-filter: blur(5px); /* Blur the background on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Deeper shadow on hover */
}

.game-card h3 {
    color: black;
    font-size: 1.2em; /* Initial font size */
    margin: 10px 0 5px 0; /* Margin for title */
    transition: transform 0.3s, opacity 0.3s; /* Smooth transition for scaling and fading */
    opacity: 0; /* Initially hidden */
    transform: translateY(10px); /* Slight downward movement */
}

.game-card:hover h3 {
    opacity: 1; /* Show title on hover */
    transform: scale(1.5) translateY(0); /* Scale up and move to original position */
}

